@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center bg-light p-5 rounded">
    <h1 class="display-3 text-primary mb-4">Empower Your Workflow</h1>
    <p class="lead text-muted">Your ultimate workflow management tool to seamlessly manage users, licenses, requests, and approvals. Streamline your operations and empower your team with unparalleled efficiency.</p>
    <hr class="my-4">
    <p class="text-secondary">Get started today and transform the way you work.</p>
    <a class="btn btn-primary btn-lg mt-3" href="/Identity/Account/Register" role="button">Get Started</a>
</div>
